.c0 .st6 {fill: #E30613;}
.c0 .st7 {fill: #7F1718;}
.c1 .st6 {fill: green;}
.c1 .st7 {fill: darkgreen;}
.c2 .st6 {fill: pink;}
.c2 .st7 {fill: #DB7093;}
.c3 .st6 {fill: #87CEEB;}
.c3 .st7 {fill: #26567E;}
.c4 .st6 {fill: #6B315F;}
.c4 .st7 {fill: #000000;}

.st0{opacity:0.3;} /* shadow */
.st1{fill:#009FE3;} /* arms */
#SVGID_1_ > stop {stop-color: #006CB0;} /* body gradient */
#SVGID_1_ > stop:first-of-type {stop-color: #009FE3;} /* body gradient */
.st2{fill:url(#SVGID_1_);} /* body */
.st3{fill:#445FA9;} /* bruise edge */
.st4{fill:#5573B7;} /* bruise inside */
.st5{fill:#FFFFFF;} /* eyes and teeth */
.tongue{fill: #E30613;}
.st6{fill:#E30613;} /* gloves and pants */
.st7{fill:#7F1718;} /* gloves and pants edges */
.st8{fill:url(#SVGID_2_);}
.st9{fill:url(#SVGID_3_);}
.st10{fill:url(#SVGID_4_);}
.st11{fill:url(#SVGID_5_);}
.st12{fill:url(#SVGID_6_);}
.st13{fill:url(#SVGID_7_);}
.st14{fill:url(#SVGID_8_);}
.st15{fill:url(#SVGID_9_);}
.st16{fill:url(#SVGID_10_);}
.st17{fill:url(#SVGID_11_);}
.st18{fill:url(#SVGID_12_);}