* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main {
  align-items: center;
  display: flex;
  height: 80vh;
  justify-content: center;
  margin: auto;
	width: 100vw;
	overflow: hidden;
}

#wrapper {
  border: 1px solid black;
  width: 200px;
	height: 200px;
}

.joystick {
  background-color: black;
  border-radius: 100%;
  cursor: pointer;
  height: 100%;
  user-select: none;
  width: 100%;
}

.button {
 width: 100px;
 height: 100px;
}

html, body {
	position: fixed;
}

html, body {
	position: relative;
	overflow: hidden;
}

body {
	position: fixed;
	overflow: hidden;
}

body {
	position: fixed;
	height: 100%;
	overflow: hidden;
	width: 100%;
}